body {
  font-family:monospace;
  overflow-y: scroll;
  margin: 0;
}

h1 {
  text-align: center;
}

.wallet {
  width: 7.8in;
  height: 90px;
  margin: 10px auto 0;
  position: relative;
}

.wallet img, .instruction img {
  width: 100%;
}

svg {
  width: 100%;
}

.address-text, .secret-text {
  font-size: 13px;
  position: absolute;
  padding: 0 10px 5px;
  font-weight: bold;
}

.address-text legend, .secret-text legend {
  font-size: 12px;
}

.address-text {
  left:100px;
  top:7px;
}

.secret-text {
  right:100px;
  bottom:7px;
}

.qr-secret, .qr-address {
  width: 90px;
  height: 90px;
  position: absolute;
}

.qr-address {
  left:0;
  top:0;
}

.qr-secret {
  right:0;
  top:0;
}

.buttons {
  text-align: center;
  margin:40px;
}

.buttons button {
  margin-top:10px;
}

@media print {
  h1 { margin-top: 0; }
  .buttons { display:none }
  .wallet {
    width: 7.8in;
    height: 90px;
    margin: 0 auto 10px;
    position: relative;
  }
}
